Hi {{ first_name }},

Congratulations! You are now part of the Alumni Club – a growing community of graduates from Constructor University Bremen and Neapolis University Pafos.

We’d love for you to be an active part of this network. Every semester, we’ll be thinking of new learning opportunities for you: courses, workshops and other events. You can find them in the "Alumni" tab of the JetBrains Academy LMS.

Beyond learning, the Alumni Club is a space for collaboration and connection. Here’s how you can engage with fellow alumni:

Find like-minded alumni in your city
Ask for recommendations or referrals
Share experiences, career tips, and useful resources
You can also join our Telegram chat (<a href="{{ telegram_chat_url }}">{{ telegram_chat_url }}</a>), where alumni connect, discuss relevant topics, ask questions, and exchange insights.

To make networking even easier, share your contact details with other alumni. If you're open to that, just give your consent here: <a href="{{ consent_form_url }}">{{ consent_form_url }}</a>.

We’re happy to have you in the community and look forward to staying in touch!

Kind regards,
Your Curators Team
